<%= render("shared/topnav") %>
<div class="container">
  <div class="add_category">
    <div>
      <h1>Edit Category <%= @category.name %></h1>
      <%= render 'form' %>
      <button class="btn btn-default"><%= link_to "Back", 'javascript:history.back()' %></button>
    </div>
  </div>
</div>